body {
    margin: 0;
    min-width: 1440px;
    /* font-family: 'Neucha', cursive; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}

.container {
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.header{

}

.background {
    position: absolute;
    opacity: 0.1;
}

.title {
    position: relative;
    padding-bottom: 185px;
  }

.header-img {
    position: absolute;
    left: 280px;
    top: -65px;
}

.header-title {
    color: #FE8A02;
    font-family: 'Neucha', cursive;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2em;
    font-style: normal;
    margin: 0;
}

.header-subtitle { 
    font-family: 'Neucha', cursive;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2em;
    margin: 0;
}

.header-text {
    margin: 0;
    gap: 30px;
    display: flex;
}

.text-one {
    width: 540px;
    height: 141px;
}

.text-two {
    width: 540px;
}


.btn {
    display: inline-block;
    margin: 0;
    background-color: #FE8A02;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
    margin-top: 35px;
    font-style: bold;
    text-decoration: none;
}

.section-vidio {
    background-color: #fff;
}

.section-title__one {
    margin: 0;
    font-family: 'Neucha', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #2A2626;
}

.section-title__two {
    margin: 0;
    font-family: 'Neucha', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #FE8A02;
}

.section-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #212529;
    padding-top: 27px;
    padding-bottom: 30px;
}

.video {
    position: relative;
    margin: 0;
    padding-left: 100px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-list {
    margin: 0;
    background-color: #42413C;
}